$accentColor = #52c4c4
$textColor = #fff
$borderColor = #01b7ee
$codeBgColor = #282c34

h1 {
  color: #01b7ee;
}
h2, .description {
  color: #42c1c0 !important;
}
h3 {

}
p {
  color: rgba(255,255,255,0.8);
}

html,
body {
  background: #021e3c;
}
.sidebar, .theme-container {
  background: transparent;
}
.search-box .suggestions {
  background-color: rgb(0, 43, 68);
}
.navbar {
  background-color: rgb(0, 43, 68);
  border-bottom: 1px solid rgb(0, 43, 68);
}
.links {
  background-color: rgb(0, 43, 68) !important;
}
.search-box {
  background-color: rgb(0, 43, 68) !important;

  input {
    background-color: rgb(0, 43, 68) !important;
    border: 1px solid $accentColor;
  }
}
