html, body {
  font-family: 'Source Sans Pro';
  background-color: $background-gradient;

  -webkit-font-smoothing: antialiased;

  font-size: 15px;

  @include mobile {
      font-size: 14px;
  }
}

a {
  color: $primary;
}

img {
  vertical-align: middle;
  border-style: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: $white;
}

.tree-view-item-key {
  color: $primary;
}
.tree-view-item-value {
  color: $warning;
}
.tree-view-wrapper {
  margin-top: 40px;
}
