@mixin mobile {
  @media (max-width: #{$md-break - 1px}) {
      @content;
  }
}


@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

@mixin box-shadow($params...) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin transition($params...) {
  -webkit-transition: $params;
   -moz-transition: $params;
     -o-transition: $params;
        transition: $params;
  -webkit-transition: $params;
  transition: $params;
}

@mixin clip-path($params...) {
  clip-path: $params;
  -webkit-clip-path: $params;
  @include transition(all .5s ease)
}
