$xs-break:400px;
$sm-break:576px;
$md-break:768px;
$lg-break:992px;
$xl-break:1200px;
$xll-break:1392px;
// Colors
$primary: #36867e    !default;
$success: #021c38    !default;
$warning: #e6a23c    !default;
$danger:#d82b5d      !default;
$info: #909399       !default;

$background: #2c2f38 !default;
$background-gradient: radial-gradient(circle closest-corner at 50% 50%,$success,#021e3c) !default;

// text color
$black: #22292F        !default;
$grey-darkest: #212529 !default;
$grey-darker: #606f7b  !default;
$white: #fff           !default;
// Others
$borderColor: rgba(94, 114, 169, 0.3);

// Font Silze
$xs-font:15px;
$sm-font:16px;
$md-font:18px;
$lg-font:20px;
$xl-font: 1.75rem;
$xll-font: 5.5rem;
