$xs-break:400px;
$sm-break:576px;
$md-break:768px;
$lg-break:992px;
$xl-break:1200px;
$xll-break:1392px;
// Colors
$primary: #29CCC4    !default;
$success: #002b44    !default;
$warning: #e6a23c    !default;
$danger:#d82b5d      !default;
$info: #909399       !default;

$background: #1313138c !default;
$background-gradient: #272727 !default;

// text color
$black: #22292F        !default;
$grey-darkest: #212529 !default;
$grey-darker: #606f7b  !default;
$white: #fff           !default;
// Others
$borderColor: rgba(94, 114, 169, 0.3);

// Font Silze
$xs-font: 1rem;
$sm-font: 1.40rem;
$md-font: 2.50rem;
$lg-font: 3.60rem;
$xl-font: 4.75rem;
$xll-font: 5.5rem;
